.card{
  margin: 0.5rem;
  border: 2px solid black;
}

.card img{
  width: 30.1875rem;
  height: 18.75rem;
}

.icons{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
